.surveyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b3d9ff;
  }
  
  .surveyForm {
    background-color: #cce6ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
  
  .surveyTitle {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-transform: lowercase;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formControl {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btnPrimary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  